.contact {
    display: flex;
    align-items: center;
    height: auto;
    padding: 16px;
    padding-bottom: 0;
    position: relative;

    cursor: pointer;
    &.active{
        background-color: #EBEBEB;
    }

    &:hover{
        background-color: #dfdfdf;
    }
}
.profilePic{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 16px;
    //margin-bottom: 16px;
    padding-bottom: 16px;

    &.chat{
        height: 35px;
        width: 35px;
    }
}
.contactBody{
    height: 50px;
    width: 80%;
    padding-bottom: 16px;
    border-bottom: #EBEBEB 1px solid;
}

.contactName{
    font-size: 18px;
    font-weight: 700;
    margin: 4px 0px;
    color: #424242;
}

.lastMessage, .lastSeen {
    font-weight: 400;
    font-size: 12px;
    color: $messageGrey;
}

.lastMessageTime{
    font-size: 12px;
    color: $messageGrey;
    font-weight: 400;
    position: absolute;
    top:24px;
    right:16px;
}